{{#if blogs.length}}

<h3>All Current Blogs</h3>


{{#each blogs as |blog|}}
<article>
    <div class="blog-title row">
       <a href="/blog/{{blog.id}}">
            <h4>{{blog_title}}</h4> 
        </a>
    </div>

    <div class="blog-user row">
        <p>{{username}} || {{date}}</p>
    </div>

    <div class="blog-content row">
        <p>{{blog_content}}</p>
    </div>

</article>





{{/each}}

{{/if}}

