<div class="wrapper">
  <div>
    <h3>My Blogs Dashboard:</h3>
  </div>
</div>


  <div class="form-group">
    <a href="/new-blog">
        <button class="btn create-btn" type="submit">Create A New Blog</button>
  </a>
  </div>

<div class="other-blogs wrapper">
    <h4>Other blogs:</h4>
</div>

<div class="grid">

  {{#each blogs as |blog|}}
    <div id="dashboard-blogs" class="content">
      <section class="card">
        <a href="/blog/{{blog.id}}/edit">
            <div class="card-body-simple">
            <div>
              <a href="/blog/{{blog.id}}/edit">
                <h1>{{blog_title}}</h1>
              </a>
                <h2>Posted on: {{format_date date}} / By: {{username}}</h2>
            </div>
        </a>

        </div>
      </section>
    </div>
  {{/each}}
</div>




