<div class="wrapper">
  <div>
    <h4>You are viewing this blog...</h4>
  </div>
</div>

<article>

    <div class="blog-container">
        <div class="blog-title row">
            <h4>{{blog_title}} || {{format_date date}}</h4>
        </div>


        <div class="blog-content row">
            <p>{{blog_content}}</p>
        </div>

            {{#if comments.length}}

    {{#each comments as |comment|}}
    <div class="posted-comment-container">
        <div class="comment-content row"> 
             <h5>{{username}} || {{format_date date_created}}</h5>
            <p>{{comment_content}}</p>
           
        </div>
    </div>
    {{/each}}

    </div>




    {{/if}}

    <div class="comment-container">
        <form ref="uploadForm" id="uploadForm" action="/" method="post" encType="multipart/form-data" class="form comment-form">
            <div class="form-group">
            <label for="blog_content">Enter Your Comments:</label>
            <textarea class="form-input" type="text" id="comment_content" name="comment_content" row="8" cols="80"/></textarea>
            </div>
            <div class="form-group">
            <button class="btn comment-btn" type="submit">Add Comment</button>
            </div>
        </form>
    </div>


</article>

<script src="/js/comments.js"></script>


